/* .main-hero{
    /* color: white;
    background-color:  #FF5E15;
    font-size: 30px;
    line-height: normal;
    letter-spacing: normal;
    overflow-wrap: break-word;
    /* position: relative;
    bg-overlay-color: rgba(133, 133, 133);
    -moz-backface-visibility: 1;
    column-width: 980px;
    column-flex: 980;
    padding: 0;
    margin: 0;
    min-width: 980px;
    left: 0;
    margin-left: 0;
    width: 100%; */
